Docs/.time-stamp-html
Docs/.time-stamp-online
Docs/auto.pages/
Docs/html-online
Examples/C++/account.xml
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
gensrc/.time-stamp
ipch
libtool
oh/config.hpp
oh/config.hpp.in
oh/loop/loop_*.hpp
oh/stamp-h1
oh/valueobjects/vo_*.hpp
ohxl/functions/*.?pp
!ohxl/functions/manual.cpp
ohxl/register/register_*.cpp
