# Compilation artifacts
QuantLib/
ObjectHandler/Docs/auto.pages/
ObjectHandler/build/
ObjectHandler/gensrc/build/
ObjectHandler/lib/
ObjectHandler/oh/loop/loop_*.hpp
ObjectHandler/oh/valueobjects/vo_*.hpp
ObjectHandler/ohxl/functions/*.cpp
!ObjectHandler/ohxl/functions/manual.cpp
ObjectHandler/ohxl/register/register_*.cpp
ObjectHandler/ohxl/functions/*.hpp
QuantLibAddin/Addins/Cpp/*.cpp
QuantLibAddin/Addins/Cpp/*.hpp
!QuantLibAddin/Addins/Cpp/init.cpp
!QuantLibAddin/Addins/Cpp/addincppdefines.hpp
!QuantLibAddin/Addins/Cpp/init.hpp
!QuantLibAddin/Addins/Cpp/loop.hpp
QuantLibAddin/Docs/auto.pages/
QuantLibAddin/build/
QuantLibAddin/gensrc/build/
QuantLibAddin/lib/
QuantLibAddin/qlo/enumerations/register/register_classes.cpp
QuantLibAddin/qlo/enumerations/register/register_pairs.cpp
QuantLibAddin/qlo/enumerations/register/register_types.cpp
QuantLibAddin/qlo/loop/loop_*.hpp
!QuantLibAddin/qlo/loop/loop_valueobjects.hpp
QuantLibAddin/qlo/serialization/create/create_*.cpp
QuantLibAddin/qlo/serialization/create/create_*.hpp
QuantLibAddin/qlo/serialization/register_creators.cpp
QuantLibAddin/qlo/serialization/register/serialization_*.cpp
QuantLibAddin/qlo/serialization/register/serialization_*.hpp
!QuantLibAddin/qlo/serialization/register/serialization_oh.cpp
!QuantLibAddin/qlo/serialization/register/serialization_oh.hpp
QuantLibAddin/qlo/valueobjects/vo_*.cpp
QuantLibAddin/qlo/valueobjects/vo_*.hpp
!QuantLibAddin/qlo/valueobjects/vo_group.hpp
!QuantLibAddin/qlo/valueobjects/vo_range.hpp
QuantLibXL/qlxl/buildstatic/
QuantLibXL/qlxl/functions/*.cpp
!QuantLibXL/qlxl/functions/manual.cpp
!QuantLibXL/qlxl/functions/manual_template.cpp
QuantLibXL/qlxl/functions/*.hpp
QuantLibXL/qlxl/register/register_*.cpp
QuantLibXL/xll/
log4cxx/msvc/build/
log4cxx/msvc/lib/
XL-Launcher/bin/Configuration/UserConfigured/
XL-Launcher/bin/Debug/
XL-Launcher/bin/Release/
XL-Launcher/obj/

# Build outputs
**/x64/Debug
**/x64/Release
**/Debug
**/Release
**/bin/*.xml
**/bin/*.manifest

# Artifacts created in multiple directories
Makefile
!QuantLibAddin/swig/Makefile
Makefile.in
testCaseCollection.xml
.deps
.libs
*.la
*.lo
*.o
*.so
.build-stamp
*.pyc
*.exe
*.dll
*.exp
*.lib
*.pdb
*.ilk
*.class
*~
*.ncb
*.suo
*.vcproj.*.user
*.vcxproj.user
*.log
*.sdf
*.opensdf
*.pch
*.idb
*.ipch

# Outputs
ObjectHandler/xll/
QuantLib/test-suite/bin/*.exp
QuantLib/test-suite/bin/*.lib
QuantLib/test-suite/bin/*.pdb
QuantLibAddin/Docs/.quantlibaddin.doxy
QuantLibAddin/Docs/build/
QuantLibAddin/Docs/html/
QuantLibXL/Docs/.quantlibxl.doxy
QuantLibXL/Docs/build/
QuantLibXL/Docs/html/
QuantLibXL/qlxl/buildDynamic/
QuantLibAddin/Docs/*.chm
QuantLibAddin/Docs/doxywarnings.txt
QuantLibXL/Docs/*.chm
QuantLibXL/Docs/doxywarnings.txt

